  .intro {
        margin-top: 10px;
        border-top-width: 100px;
        border-top: solid;
        border-top-color: black;
    }

 .button1{
  border-radius: 50%;
  border-top-color: aqua;
 }

    
